.header {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.box {
    padding: 2.5rem  1.5rem;
    box-shadow: 0 5px 25px rgba(112, 112, 112,.2);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.icon {
    font-size: 3.5rem;
    color: #fff;
    line-height: 2rem;
}

.text {
    color: #fff;
    margin-right: 10px;
}

.text h3 {
    margin-bottom: 8px;
}

.text h4 {
    font-family: iranYekanFn;
}

.returnOrder {
    background: linear-gradient(120deg,#C28926,#E5C149);
}

.orders {
    background: linear-gradient(120deg,#2650C2,#497DE5);
}

.wallet {
    background: linear-gradient(120deg,#26C26F,#49E592);
}

@media (max-width:990px) {
    .box {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
}

@media(max-width:768px) {
    .header {
        grid-template-columns: 1fr;
    }

    .box {
        padding: 1rem;
    }
}